header{
    background-color: green;
    text-align: center;
}
.p1{
    width: 85%;
    position: relative;
    left: 15px;
}
.img{
    position: relative;
    left: 15%;
}
.p2{
    width: 85%;
    position: relative;
    left: 5px;
}
footer{
    text-align: center;
    background-color: green;
    padding-bottom: 1px;
    padding-top: 1px;
}